@use "../abstracts";

/**
 * Basic typography style for copy text
 */
body {
  color: abstracts.$text-color;
  font: normal 125% / 1.4 abstracts.$text-font-stack;
}

.text-s {
  font-size: 1rem;
}

.text-grey {
  color: abstracts.$grey;
}

.text-red {
  color: abstracts.$red;
}
